* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    font-family: 'poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0f0f1a;
}


/*-------------------------------------------- nav bar --------------------------------------*/

nav {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100001;
    width: 100%;
    background-color: #0f0f1a;
    filter: drop-shadow(-2px 3px 5px rgba(112, 112, 112, 0.384));
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 0%;
    margin-top: -10%;
    margin-left: 3%;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

li a:hover {
    color: #0096ff;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    display: none;
    margin-right: 3%;
    cursor: pointer;
}

@media(max-width: 100%) {
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul {
        margin-right: 20px;
    }
    nav a {
        font-size: 17px;
    }
}

@media (max-width:909px) {
    nav #icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #0d0d16;
        top: 80px;
        z-index: 1000;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    nav ul.show {
        left: 0;
    }
    h1 {
        color: rgb(255, 255, 255);
        margin: 20px 0px 20px;
        font-size: 50px;
    }
}

@media (max-width:1040px) {
    #mee {
        left: -100%;
    }
}

span {
    color: #0096ff;
}


/*--------------------------------------- nav -------------------------------------------*/

.bottom {
    text-align: center;
    color: #adb5bd;
    margin-top: 100px;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 20px 20%;
}


/*------------------------------------- youtube ------------------------------------------*/

main {
    margin-top: 100px;
}

main h2 {
    color: #0096ff;
}

main h1 {
    color: white;
}

main a {
    color: white;
    text-decoration: none;
}

.group {
    padding-left: 7%;
    padding-right: 7%;
}