* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    font-family: 'poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0f0f1a;
}


/*-------------------------------------------- nav bar --------------------------------------*/

nav {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100001;
    width: 100%;
    background-color: #0f0f1a;
    filter: drop-shadow(-2px 3px 5px rgba(112, 112, 112, 0.384));
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 0%;
    margin-top: -10%;
    margin-left: 3%;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

li a:hover {
    color: #0096ff;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    display: none;
    margin-right: 3%;
    cursor: pointer;
}

@media(max-width: 100%) {
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul {
        margin-right: 20px;
    }
    nav a {
        font-size: 17px;
    }
}

@media (max-width:909px) {
    nav #icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #0d0d16;
        top: 80px;
        z-index: 1000;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    nav ul.show {
        left: 0;
    }
    h1 {
        color: rgb(255, 255, 255);
        margin: 20px 0px 20px;
        font-size: 50px;
    }
}

@media (max-width:1040px) {
    #mee {
        left: -100%;
    }
}

span {
    color: #0096ff;
}


/*-----------------------------------------------------------------------------*/

.ab-text {
    padding: 100px 20%;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 14px;
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.heading p {
    color: white;
    font-size: 14px;
    line-height: 28px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.7rem;
    align-items: center;
    margin-top: 5rem;
}

.box {
    height: 340px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(103, 145, 192);
    transition: all 0.8s;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background: linear-gradient(to bottom, rgba(15, 15, 26, 0) 0%, rgba(15, 15, 26, 0.3) 50%, rgba(15, 15, 26, 0.7) 75%, #0f0f1a 100%), url(img/S1.png) center center no-repeat;
    background-size: cover;
    z-index: 100;
}

.box1:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.box2 {
    background: linear-gradient(to bottom, rgba(15, 15, 26, 0) 0%, rgba(15, 15, 26, 0.3) 50%, rgba(15, 15, 26, 0.7) 75%, #0f0f1a 100%), url(img/S2.png) center center no-repeat;
    background-size: cover;
}

.box2:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.box3 {
    background: linear-gradient(to bottom, rgba(15, 15, 26, 0) 0%, rgba(15, 15, 26, 0.3) 50%, rgba(15, 15, 26, 0.7) 75%, #0f0f1a 100%), url(img/youtube.png) center center no-repeat;
    background-size: cover;
}

.box3:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.in {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

.bottom {
    text-align: center;
    color: #adb5bd;
    margin-top: 100px;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 20px 20%;
}